.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.headerContainer {
    padding: 1rem 2rem;
    border-bottom: solid;
    border-color: #d3d3d3;
    border-width: 1px;
}
.navbarContainer {
    border-right: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    padding: 1rem 2rem;
    min-width: 15vw;
}
.contentContainer {
    display: flex;
    flex: 1;
}
.mdxContainer {
    h1 {
        font-size: 2.3rem;
    }
    padding: 1rem 25rem 5rem 15rem;
    overflow: scroll;
    flex: 1;
    p {
        font-size: 1.1rem;
    }
}
.navbarLink {
    margin: 0.5rem 1rem;
    text-decoration: none;
    color: #777777;
    display: block;
}
.navbarLink:hover {
    text-decoration: underline;
}
.navbarSectionHeader {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 1.2rem;
    font-weight: 500;
}
.navbarSectionHeader:hover {
    text-decoration: underline;
}
pre  {
    background-color: #ececec;
    padding: 1.5rem;
    border-radius: 1rem;
}