:root {
  --background: #efefef;
  --light: #d3d3d3;
  --text: #414141;
  --text-light: #777777;
  --code: #e7e7e7;
  --link: #ffbb0e;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--link);
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --light: #313131;
    --text: #d2d2d2;
    --text-light: #a8a8a8;
    --code: #363636;
    --link: #ceb34b;
    color-scheme: dark;
  }
}

